body {
  color: white;
  max-width: "1200px";
  margin: "auto";
  font: Inconsolata, monospace;
  text-shadow: 0 0 5px #7b7979;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1668%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(3%2c 19%2c 35%2c 1)'%3e%3c/rect%3e%3cpath d='M427.11 119.43L532.77 180.43L532.77 302.43L427.11 363.43L321.46 302.43L321.46 180.43zM321.46 302.43L427.11 363.43L427.11 485.43L321.46 546.43L215.8 485.43L215.8 363.43zM849.75 485.43L955.4 546.43L955.4 668.43L849.75 729.43L744.09 668.43L744.09 546.43zM955.4 302.43L1061.06 363.43L1061.06 485.43L955.4 546.43L849.75 485.43L849.75 363.43zM1166.72 -63.57L1272.38 -2.57L1272.38 119.43L1166.72 180.43L1061.06 119.43L1061.06 -2.57zM1272.38 485.43L1378.04 546.43L1378.04 668.43L1272.38 729.43L1166.72 668.43L1166.72 546.43zM1483.7 119.43L1589.35 180.43L1589.35 302.43L1483.7 363.43L1378.04 302.43L1378.04 180.43zM1378.04 302.43L1483.7 363.43L1483.7 485.43L1378.04 546.43L1272.38 485.43L1272.38 363.43zM1483.7 485.43L1589.35 546.43L1589.35 668.43L1483.7 729.43L1378.04 668.43L1378.04 546.43z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M414.91 119.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM520.57 180.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM520.57 302.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM414.91 363.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM309.26 302.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM309.26 180.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM414.91 485.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM309.26 546.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM203.6 485.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM203.6 363.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM837.55 485.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM943.2 546.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM943.2 668.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM837.55 729.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM731.89 668.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM731.89 546.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM943.2 302.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1048.86 363.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1048.86 485.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM837.55 363.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1154.52 -63.57 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1260.18 -2.57 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1260.18 119.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1154.52 180.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1048.86 119.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1048.86 -2.57 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1260.18 485.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1365.84 546.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1365.84 668.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1260.18 729.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1154.52 668.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1154.52 546.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1471.5 119.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1577.15 180.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1577.15 302.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1471.5 363.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1365.84 302.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1365.84 180.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1471.5 485.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1260.18 363.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1577.15 546.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1577.15 668.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0zM1471.5 729.43 a12.2 12.2 0 1 0 24.4 0 a12.2 12.2 0 1 0 -24.4 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M25.81 97.31L67.38 121.31L67.38 169.31L25.81 193.31L-15.76 169.31L-15.76 121.31zM108.95 -46.69L150.52 -22.69L150.52 25.31L108.95 49.31L67.38 25.31L67.38 -22.69zM233.66 25.31L275.23 49.31L275.23 97.31L233.66 121.31L192.09 97.31L192.09 49.31zM192.09 97.31L233.66 121.31L233.66 169.31L192.09 193.31L150.52 169.31L150.52 121.31zM233.66 457.31L275.23 481.31L275.23 529.31L233.66 553.31L192.09 529.31L192.09 481.31zM399.94 25.31L441.51 49.31L441.51 97.31L399.94 121.31L358.37 97.31L358.37 49.31zM399.94 169.31L441.51 193.31L441.51 241.31L399.94 265.31L358.37 241.31L358.37 193.31zM441.51 529.31L483.08 553.31L483.08 601.31L441.51 625.31L399.94 601.31L399.94 553.31zM524.65 241.31L566.23 265.31L566.23 313.31L524.65 337.31L483.08 313.31L483.08 265.31zM524.65 529.31L566.23 553.31L566.23 601.31L524.65 625.31L483.08 601.31L483.08 553.31zM607.8 -46.69L649.37 -22.69L649.37 25.31L607.8 49.31L566.23 25.31L566.23 -22.69zM774.08 -46.69L815.65 -22.69L815.65 25.31L774.08 49.31L732.51 25.31L732.51 -22.69zM774.08 241.31L815.65 265.31L815.65 313.31L774.08 337.31L732.51 313.31L732.51 265.31zM857.22 241.31L898.79 265.31L898.79 313.31L857.22 337.31L815.65 313.31L815.65 265.31zM898.79 457.31L940.36 481.31L940.36 529.31L898.79 553.31L857.22 529.31L857.22 481.31zM940.36 385.31L981.93 409.31L981.93 457.31L940.36 481.31L898.79 457.31L898.79 409.31zM1065.07 457.31L1106.64 481.31L1106.64 529.31L1065.07 553.31L1023.5 529.31L1023.5 481.31zM1189.78 -46.69L1231.35 -22.69L1231.35 25.31L1189.78 49.31L1148.21 25.31L1148.21 -22.69zM1189.78 385.31L1231.35 409.31L1231.35 457.31L1189.78 481.31L1148.21 457.31L1148.21 409.31zM1272.92 -46.69L1314.49 -22.69L1314.49 25.31L1272.92 49.31L1231.35 25.31L1231.35 -22.69zM1314.49 169.31L1356.06 193.31L1356.06 241.31L1314.49 265.31L1272.92 241.31L1272.92 193.31zM1397.63 169.31L1439.2 193.31L1439.2 241.31L1397.63 265.31L1356.06 241.31L1356.06 193.31zM1356.06 241.31L1397.63 265.31L1397.63 313.31L1356.06 337.31L1314.49 313.31L1314.49 265.31zM1397.63 313.31L1439.2 337.31L1439.2 385.31L1397.63 409.31L1356.06 385.31L1356.06 337.31zM1356.06 385.31L1397.63 409.31L1397.63 457.31L1356.06 481.31L1314.49 457.31L1314.49 409.31zM1356.06 529.31L1397.63 553.31L1397.63 601.31L1356.06 625.31L1314.49 601.31L1314.49 553.31zM1480.77 25.31L1522.34 49.31L1522.34 97.31L1480.77 121.31L1439.2 97.31L1439.2 49.31zM1439.2 529.31L1480.77 553.31L1480.77 601.31L1439.2 625.31L1397.63 601.31L1397.63 553.31z' stroke='rgba(4%2c 37%2c 72%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1668'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.bg-blue {
  background-color: #224162;
}

.bg-btn-primary {
  color: #010d19;
  background-color: #3b5c7b;
}

.bg-btn-primary:hover {
  background-color: transparent;
  border-color: #bcd1f7;
  color: #bcd1f7;
}

.title {
  font-size: 45px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

.img-area img {
  width: 100%;
  border-radius: 24px;
}

.img-card {
  border-radius: 10px;
  max-width: 400px;
  height: auto;
}

.card:hover {
  background-color: transparent;
  border: 1px solid #3b5c7b;
}

.bg-icons {
  background-color: #2c2c6c;
}

.ul-style {
  list-style-type: none;
}

#Navbar {
  padding: 15px 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: black;
}

.console {
  font-family: "Fira Mono";
  width: 700px;
  height: 450px;
  box-sizing: border-box;
  margin: auto;
}

.console header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #555;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #ddd;
}

.console .consolebody {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  height: calc(100% - 40px);
  overflow: scroll;
  background-color: #224162;
  color: #52d9cb;
}

.console .consolebody p {
  line-height: 1.5rem;
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line1 {
  color: #9CD9F0;
  
}


@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

@media only screen and (max-width: 767px) {
  .console {
    width: 500px;
    height: 400px;
    box-sizing: border-box;
    margin: auto;
  }
}

@media only screen and (max-width: 576px) {
  .console {
    width: 325px;
    height: 250px;
    box-sizing: border-box;
    margin: auto;
  }
}
