html,
body {
  background-color: #01172f;
  color: white;
  min-height: 100vh;
}

header {
  background-image: url("https://images.unsplash.com/photo-1606814540563-5c02d62fd409?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2112&q=80");
  background-size: cover;
  height: 550px;
  position: relative;
}

.title {
  font-size: 45px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

.bg-blue {
  background-color: #07305c;
}

.img-circle {
  border-radius: 50%;
}
.row {
  margin: 0;
}

.img-area img {
  width: 100%;
  border-radius: 24px;
}

.img-card {
  border-radius: 10px;
  max-width: 400px;
  height: auto;
}
