.bgBlue {
  background-color: #01172f;
  color: white;
  min-height: 100vh;
}

.bg-black {
  background-color: black;
}

.bg-card {
  background-color: #07305c;
  border-color: aliceblue;
}

.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
